img {
  height: 350px;
  object-fit: cover;
}

.footer-space {
  height: 100px;
}

.footer-grass {
  height: 100px;
  background-color: rgb(0, 102, 0, .7);
}

@keyframes move {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-40px);
  }
}
