
.about-text {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 22pt;
    animation: sideToSide 5s ease-out infinite;
}

.story {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 12pt;
    text-align: left;
}


@keyframes sideToSide {
    0% {
      transform: translateX(-2vh);
    }

    50% {
      transform: translate(2vh);
    }

    100% {
        transform: translatex(-2vh);
      }
  }