.story {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 12pt;
  text-align: left;
}


@keyframes move {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-40px);
  }
}


