.header-img-name {
    text-align: center;
    font-size: 20pt;
}

.profile-image {
    z-index: 1;
}

.nav-bar {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.icon-size {
    height: 40px;
}

.link-color {
    color: rgb(0, 63, 100);
  }
  
.link-color:hover {
    color: rgb(217, 231, 127);
  }

  .left {
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-50%,-50%);
  }

  .right {
    position: absolute;
    top:20%;
    left:80%;
    transform: translate(-50%,-50%);
    z-index: 0;
  }

  .cloud {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  .cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  .cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }

 
@keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }