.intro-text {
  font-family: "Source Code Pro", monospace;
  text-align: left;
  font-size: 22pt;
  padding-left: 10%;
}

.intro-text-skills {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-size: 22pt;
}

.intro-text-container {
  width: 90%;
  padding-left: 1%;
}


.first-animation {
  animation: moveInBottom 2s ease-in-out 0s both;
}

.second-animation {
  animation: moveInBottom 2s ease-in-out 1.5s both;
}

.third-animation {
  animation: moveInBottom 2s ease-in-out 3.5s both;
}

.fourth-animation {
  animation: moveInBottom 2s ease-in-out 4.5s both;
}

.fifth-animation {
    animation: moveInBottom 2s ease-in-out 5s both;
}

.sixth-animation {
    animation: moveInBottom 2s ease-in-out 5.5s both;
}

.seventh-animation {
    animation: moveInBottom 2s ease-in-out 6s both;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }

  70% {
    opacity: 1;
    transform: translateY(-10%);
  }

  80% {
    transform: translateY(5%);
  }

  90% {
    transform: translateY(-2%);
  }

  100% {
    transform: translate(0);
  }
}
